<h1>Editing Add</h1>

<%= form_for @ads do |f| %>

    <%= label :ad, :title %>
    <%= text_field :ad, :title %><br>
    <%= label :ad, :description %>
    <%= text_area :ad, :description %><br>
    <%= label :ad, :price %>
    <%= text_field :ad, :price %><br>
    <p>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
    </p>
    <%=  f.submit class: "btn  btn-primary" %>


<% end %>
