<p id="notice"><%= notice %></p>

<h1>Listing Adds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |add| %>
      <tr>
        <td><%= add.title %></td>
        <td><%= add.description %></td>
        <td><%= link_to 'Show', ad_path(add) %></td>
        <td><%= link_to 'Edit', edit_ad_path(add) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
