
<%= form_for( @tutoring ) do |f| %>

    <%= label :ad, :title %>
    <%= text_field :ad, :title %><br>
    <%= label :ad, :description %>
    <%= text_area :ad, :description %><br>
    <%= label :ad, :price %>
    <%= text_field :ad, :price %><br>
    <%= f.label :course %>
    <%= f.text_field :course %>

    <p>
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
    </p>
    
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
