<div>
<%= form_for(:researches, url: new_r_path, method: :post) do |f| %>
	<%= f.label :researche %>
	<%= f.text_field :researche %>
	<%= f.label :in %>
	<%= f.select :in, Ad.types %>
	<%= f.hidden_field :page, {:value => '1'} %>
  <%= f.submit :value => 'GO' %>
	<%= f.label :sortby %>
	<%= f.select :sortby, ["no sorting","date", "price", "title"] %>
  
  <p><button id="advbtn" type="button">Advanced</button> </p>
  <div id="advsearch" >
  </div><br>
 
<% end %>
</div>



