

<p id="notice"><%= notice %></p>

<%= render 'form' %>


<h2>listing</h2>

<% if @ads==nil? %>
  <%= 'aucun resulta'%>
<% else %>
    <table style="width:100%" border="1">
      <tr>
		    <td>categorie</td>
        <td>picture</td>
        <td>titre</td>
        <td>description</td>
        <td>price</td>
        <td>created_at</td>
        <td>user</td>
      </tr>
  

  <% @ads.map() do |x| %>
      <tr>
		    <td><%= x.category %></td>
	      <td><%=  image_tag(x.attachment, size: "80", alt: "No images") if x.attachment?  %></td>
        <td><%= link_to x.title, ad_path(x) %></td>
        <td><%= x.description %></td>
        <td><%= x.price %></td>
        <td><%= x.created_at.strftime("%F") %></td>
        <td><%= x.user.email %></td>
      </tr>

  <% end %>
    </table> 
<% end %>

