
		
<% @user.ads.each do |ad| %>
  <table  border="1">
    <tbody>
    <tr>

	<td>     
	    <%=  image_tag(ad.attachment, size: "80", alt: "No images") if ad.attachment?  %>
	</td>

	<td>
            <%= link_to ad.title, ad  %>
	    <p class=""> <%= ad.description %></p>
   	 </td>

	<td>
		<p class=""> <%= ad.price %> </p>
	 </td>

	<td>	
              <%= link_to 'Edit', edit_ad_path(ad), class: "btn btn-xs btn-warning" %>
	      <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-xs btn-danger" %>
        </td>

      </tr>
    </tbody>
  </table>
<% end %>

