<p id="notice"><%= notice %></p>



<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= render 'user_adds' %>

  <h2>Add a book:</h2>
<%= form_for([@user, @user.adds.build]) do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%=  f.submit class: "btn  btn-primary" %>
  </p>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
