
<!DOCTYPE html>
<html>
<head>
  <title>VirtualSpacePlus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  
  
   
  
<div class="container">
    <div>
	<%= render 'layouts/nav_links_for_auth' %>	 	
    </div>

    <div class="columns">
      <div class="one-fifth column">
            <%= yield :navbar %>      
      </div>
      <div class="four-fifths column">
      	<div class="container">
      	  <%= yield %>
      	</div>
      </div>
  </div>

</body>
</html>
